<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.playereg.pix_vision.mapper.UserMapper">
    <!-- 添加用户 -->
    <insert id="insertUser"
            parameterType="top.playereg.pix_vision.pojo.userPojo.User"
            useGeneratedKeys="true"
            keyProperty="user_id"
    >
        INSERT INTO tb_user (
                             user_uuid,
                             username,
                             password,
                             nickname,
                             avatar_url,
                             email,
                             is_delete,
                             status,
                             update_time,
                             update_user,
                             create_time,
                             create_user
        )
        VALUES (#{user_uuid}, #{username}, #{password}, #{nickname}, #{avatar_url}, #{email}, #{is_delete}, #{status},
                #{update_time}, #{update_user}, #{create_time}, #{create_user})
    </insert>

    <!-- 通过用户名查询用户 -->
    <select id="selectAllUserInfoByUsername" parameterType="top.playereg.pix_vision.pojo.userPojo.User"
            resultType="top.playereg.pix_vision.pojo.userPojo.User">
        SELECT user_id,
               user_uuid,
               username,
               password,
               nickname,
               user_role,
               avatar_url,
               email,
               status
        FROM tb_user
        WHERE username = #{username}
          AND is_delete = 0
    </select>

    <!-- 通过邮箱查询用户 -->
    <select id="selectAllUserInfoByEmail"
            parameterType="top.playereg.pix_vision.pojo.userPojo.User"
            resultType="top.playereg.pix_vision.pojo.userPojo.User">
        SELECT user_id,
               user_uuid,
               username,
               password,
               nickname,
               user_role,
               avatar_url,
               email,
               status
        FROM tb_user
        WHERE email = #{email}
          AND is_delete = 0
    </select>

    <!-- 分页查询用户 - 通过邮箱、uuid、用户名查询 -->
    <select id="selectPageUserInfo"
            resultType="top.playereg.pix_vision.pojo.userPojo.User">
        SELECT user_id,
               user_uuid,
               username,
               password,
               nickname,
               user_role,
               email,
               status
        FROM tb_user
        WHERE is_delete = 0
        <if test="user.username != null and user.username != ''">
            AND username LIKE CONCAT('%', #{user.username}, '%')
        </if>
        <if test="user.email != null and user.email != ''">
            AND email LIKE CONCAT('%', #{user.email}, '%')
        </if>
        <if test="user.user_uuid != null">
            AND user_uuid = #{user.user_uuid}
        </if>
    </select>

    <!-- 修改密码 -->
    <update id="changeUserPassword">
        UPDATE tb_user
        SET password = #{newPassword}
        WHERE email = #{email}
          AND password = #{oldPassword}   -- （如果坚持在SQL比对的话）
          AND is_delete = 0
    </update>
</mapper>